body{
    margin: 0;
}

.logolacoste{
    height: 100px;
    margin-left: 20px;
}

nav>div{
    display: flex;
    gap: 40px;
    align-items: center;
}

.search-bar{
    color: rgb(89, 89, 89);
    background-color: rgb(188, 180, 180);
    border-radius: 15px;
    height: 50px;
    width: 80%;
    align-items: end;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.search-bar p{
    margin-left: 20px;
}

.link{
    justify-content: center;
    width: 100%;
    background-color: rgb(30, 114, 68);
}

/* Supprimer le soulignement des  liens*/
.link a{
   text-decoration: none;
}

/* photo polo */
.polo{
    margin-top: 20px;
    height: 600px;
    border-radius: 10px;
    margin-left: 16px;
}

.slogan{
    display: flex;
    background-image: url(img/bannièrelacoste.webp);
    background-repeat: no-repeat;
    color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.slogan h1{
    font-size: 50px;
    text-align: center;
    padding: 50px;
    padding-top: 80px;
    font-weight: bold;
    position: relative;
    animation: lefttoright 1s;
}

.textpolo{
    display: flex;
    text-align: center;
}

.description{
    margin-top: 80px;
    padding-left:  50px;
    padding-right:  50px;
    width: 65%;
    height: 100%;
}
/* taille du texte*/
.description p{
    font-size: 20px;
}

/* call-to-action*/
.cta {
    display: block; 
    background: rgb(30, 114, 68); 
    color: #ffffff; 
    text-align: center; 
    font-weight: bold; 
    font-size: 90%; 
    font-family: Arial; 
    border-radius: 20px; 
    text-decoration: none;
    margin: auto;
    margin-top: 30px;
    align-content: center;
    padding: 15px;
}

button.cta:hover{
    background-color: rgb(1, 71, 22);
}

/* Annimation */
@keyframes lefttoright {
    0%{
        left: -300px;
        opacity: 0;
    }
    100%{
        left: 0;
        opacity: 1;
    }    
}

.phone{
    position: fixed;
    bottom: 20px;
    margin-left: 20px;
    width: 60px;
    background-color: rgb(1, 71, 22);
    border-radius: 100%;
}

@media screen and (max-width: 1024px) {
    .textpolo{
        flex-direction: column;
    }

    .polo{
        height: 450px;
        object-fit: cover;
        margin-inline: 8px;
    }

    .slogan h1{
        font-size: 30px;
        padding-top: 90px;
    }

    .link{
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 0;
    }

    .description{
        margin-top: 8px;
        margin-inline: auto;
        margin-bottom: 16px;
    }

    .search-bar{
        margin-right: 8px;
    }
}

